{% extends "main.html" %}

{% block content%} 
    <form action="/pmb" method="post">
        <div class="row">
            <div class="col form-group">
                <label for="nama">Nama</label>
                <input type="text" name="nama" class="form-control border border-secondary">
            </div>
            <div class="col form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control border border-secondary">
            </div>
        </div>
        
        <div class="row">
            <div class="col form-group">
                <label for="tempat_lahir">Tempat lahir</label>
                <input type="text" name="tempat_lahir" class="form-control border border-secondary">
            </div>
            <div class="col form-group">
                <label for="tanggal_lahir">Tanggal Lahir</label>
                <input type="date" name="tanggal_lahir" class="form-control border border-secondary">
            </div>
        </div>

        <div class="col form-group">
            <label for="asal_sma">Asal SMA</label>
            <input type="text" name="asal_sma" class="form-control border border-secondary">
        </div>
        <div class="col form-group">
            <label for="foto">Foto</label>
            <input type="file" name="foto" class="form-control border border-secondary">
        </div>

        <button type="submit" class="btn btn-primary mt-2">Kirim</button>
    </form>    

{% endblock %}
